test/fixtures/test-blueprint/state-machines/add-crypto-value.json
{
  "Comment": "State machine to add to the cryptoLocker.",
  "StartAt": "AwaitingHumanInput",
  "States": {
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "test_testForm"
      },
      "ResultPath": "$.formData",
      "Next": "AddValue"
    },
    "AddValue": {
      "Type": "Task",
      "Resource": "module:addCryptoEntry",
      "ResourceConfig": {
        "values": [
          "$.formData.encryptThisOne"
        ],
        "expiryOffset": "3d"
      },
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.encryptedFormData",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "cryptoTest"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "$authenticated",
      "allows": [
        "*"
      ]
    }
  ]
}
